body{background-color: beige;
}
h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: chocolate;
text-align: center;
}
a.link{
    border: 2px solid;
    width: auto;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
a {
    line-height: 2em;
}
p em{
    font-style:normal;
}
strong{ font-style: italic;

}
p{line-height: 0em;
}
ul li a {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    border-radius: 15px;
    height: 250px;
    width: 250px;
}
h3 {
    font-weight: normal;
}
h1.head {
    color: sienna;
}
.column{
    float: left;
    width: 33%;
}
.row:after{
    content:"" ;
    display: table;
    clear: both;
}
p {
    line-height: 1em;
}