body{background-color: beige;
}
h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: chocolate;
}
p em{
    font-style:normal;
}
strong{ font-style: italic;

}
p{line-height: 0em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    border-radius: 15px;
    height: 250px;
    width: 250px;
}
h3 {
    font-weight: normal;
}